---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ ns }}"
{% set label_list = [] -%}
{% if mesh == 'istio-ambient' -%}
  {% set label_list = label_list + ['istio.io/dataplane-mode: ambient'] -%}
{% elif mesh == 'istio-sidecar' -%}
  {% set label_list = label_list + ['istio-injection: enabled'] -%}
{% endif -%}
{% if mesh == 'istio-ambient' and waypoint != '' -%}
  {% set label_list = label_list + ['istio.io/use-waypoint: ' + waypoint ] -%}
{% endif -%}
{% if label_list | length > 0 %}
  labels:
{% for label in label_list %}
    {{ label }}
{% endfor %}
{%- endif %}
