---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ name }}"
  labels:
    {% if mesh == 'istio-ambient' %}
    istio.io/dataplane-mode: ambient
    {% elif mesh == 'istio' %}
    istio-injection: enabled
    {% else %}
    {% endif %}
