<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.mrmat.kubeeng.resolver</string>
	<key>ProgramArguments</key>
	<array>
        <string>{{ resolver_executable }}</string>
        <string>-f</string>
		<string>-c</string>
		<string>{{ resolver_dir }}/named.conf</string>
	</array>
    <key>WorkingDirectory</key>
    <string>{{ resolver_dir }}</string>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
