---
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
{% for cp in range(0, control_plane_nodes | int) %}
- role: control-plane
  extraMounts:
  - containerPath: /etc/containerd/certs.d
    hostPath: "{{ directory }}/certs.d"
  - containerPath: /usr/local/share/ca-certificates/kube-eng/ca.crt
    hostPath: "{{ ca_file_path }}"
{% endfor %}
{% for worker in range(0, worker_nodes | int) %}
- role: worker
  extraMounts:
  - containerPath: /etc/containerd/certs.d
    hostPath: "{{ directory }}/certs.d"
  - containerPath: /usr/local/share/ca-certificates/kube-eng/ca.crt
    hostPath: "{{ ca_file_path }}"
{% endfor %}
containerdConfigPatches:
- |-
  [plugins.'io.containerd.cri.v1.images']
    use_local_image_pull = true
- |-
  [plugins.'io.containerd.cri.v1.images'.registry]
    config_path = '/etc/containerd/certs.d'
