# Edge for Istio with the Gateway API
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: edge-ingress
  namespace: "{{ ns }}"
  annotations:
    cert-manager.io/cluster-issuer: ca-issuer
spec:
  gatewayClassName: istio
  listeners:
  - name: http
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
  - name: notfound
    hostname: notfound.{{ cluster_name }}.local
    port: 443
    protocol: HTTPS
    tls:
      mode: Terminate
      certificateRefs:
      - name: notfound-cert
        kind: Secret
    allowedRoutes:
      namespaces:
        from: All
