# Edge for Istio with the Gateway API
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: edge-ingress
  namespace: "{{ ns }}"
  annotations:
    cert-manager.io/cluster-issuer: ca-issuer
spec:
  gatewayClassName: istio
  listeners:
  - name: http
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
  - name: prometheus
    hostname: prometheus.{{ cluster_name }}.local
    port: 443
    protocol: HTTPS
    allowedRoutes:
      namespaces:
        from: All
    tls:
      mode: Terminate
      certificateRefs:
      - name: prometheus-cert
        kind: Secret
  - name: keycloak
    hostname: keycloak.{{ cluster_name }}.local
    port: 443
    protocol: HTTPS
    allowedRoutes:
      namespaces:
        from: All
    tls:
      mode: Terminate
      certificateRefs:
      - name: keycloak-cert
        kind: Secret
  - name: grafana
    hostname: grafana.{{ cluster_name }}.local
    port: 443
    protocol: HTTPS
    allowedRoutes:
      namespaces:
        from: All
    tls:
      mode: Terminate
      certificateRefs:
      - name: grafana-cert
        kind: Secret
  - name: jaeger
    hostname: jaeger.{{ cluster_name }}.local
    port: 443
    protocol: HTTPS
    allowedRoutes:
      namespaces:
        from: All
    tls:
      mode: Terminate
      certificateRefs:
      - name: jaeger-cert
        kind: Secret
  - name: kiali
    hostname: kiali.{{ cluster_name }}.local
    port: 443
    protocol: HTTPS
    allowedRoutes:
      namespaces:
        from: All
    tls:
      mode: Terminate
      certificateRefs:
      - name: kiali-cert
        kind: Secret
