---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ name }}"
  labels:
    {% if istio_profile == 'ambient' %}
    istio.io/dataplane-mode: ambient
    {% elif istio_profile == 'minimal' %}
    istio-injection: enabled
    {% else %}
    {% endif %}
